@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  background-color: white;
  color: black;
}


h1, h2, h3, .modal-title, #getStartedBtn, #contact h2, #incentive a, #submitBtn {
  font-family: 'Epilogue', sans-serif;
}

.no-scroll {
  overflow: hidden;
}
